@charset "UTF-8";
@property --progress {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}
:root {
  --c1: #6eccee;
  --c2: #f672ca;
  --c3: #fdb428;
  --c4: #b9f;
}

@-webkit-keyframes progress {
  from {
    --progress: 0%;
  }
  to {
    --progress: 100%;
  }
}

@keyframes progress {
  from {
    --progress: 0%;
  }
  to {
    --progress: 100%;
  }
}
.circle {
  --progress: 60%;
  background: conic-gradient(at center, var(--c1) var(--progress), black var(--progress), var(--c2) calc(var(--progress) + 20%), var(--c3) calc(var(--progress) + 30%), var(--c3) calc(var(--progress) + 50%), transparent, transparent, transparent, transparent);
  -webkit-animation: progress 4s linear infinite;
          animation: progress 4s linear infinite;
  border-radius: 50%;
  -webkit-mask: radial-gradient(circle at center, transparent 65%, black 65%);
          mask: radial-gradient(circle at center, transparent 65%, black 65%);
  position: absolute;
  inset: 0;
}
@supports (background: paint(houdini)) {
  .circle {
    --progress: 0%;
  }
}
.circle:nth-child(2) {
  inset: 4vmin;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.circle:nth-child(3) {
  inset: 8vmin;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.container {
  filter: drop-shadow(0 0 0.8vmin black);
  position: relative;
  width: 40vmin;
  aspect-ratio: 1;
}
.container:after {
  content: "GKRIDE";
  font-weight: bold;
  position: absolute;
  font-size: 2.5vmin;
  inset: 0;
  color: cyan;
  display: grid;
  place-items: center;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Roboto, Inter, "Helvetica Neue", Helvetica, sans-serif;
  background: radial-gradient(30% 40% at center, rgba(255, 255, 255, 0.03), transparent), #111;
  color: var(--c1);
  display: grid;
  place-items: center;
}